* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Quicksand, sans-serif;
    background: linear-gradient(#e0b8b6,#bb8f62);
}

.header {
    color: #8d5f52;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-shadow: 5px 5px 10px #c69d98;
    font-weight: bold;
}

.header h1 {
    font-size: 2.5em;
}

.contactinfo {
    color:#646462 ;
    border-top: 3px solid black;
    padding-top: 1rem;
    font-size: 1rem;
}

.container {
    color: black;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black;
}

.required::after {
    content: "*";
    color: red;
}

.form-control {
    margin: -0.5rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control label {
    width: 150px;
    height: 2rem;
    font-size: 1.2rem;
}

.form-control input{
    width: 250px;
    height: 2rem;
    padding-left : 1.5rem;
}

.form-control-radiobtn {
    /* border: 1px solid white; */
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.form-control-checkbox {
    /* border: 1px solid white; */
    font-size: 1.2rem;
}

#sheetcake, #roundcake {
    font-size: 1.4rem;
}

.radiolabelinput {
    margin-left: 2rem;
    margin-right: 1rem;
    /* border: 1px solid white; */
}

.checkboxtitle {
    font-size: 2rem;
    text-decoration: underline;
}

.buttongroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.6rem 4rem;
    margin: 1rem;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: darkgray;
}

.hidden {
    display: none;
}

#imgBlock {
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 1rem;
}

#imgBlock label {
    display: block;
    border: 2px dashed white;
    padding: 1rem;
    margin-bottom: -27px;
    background: linear-gradient(#e0b8b6,#bb8f62);
}

figure {
    border: 2px dashed white;
    border-top: none;
    padding: 1rem;
}

figure img {
    width: 100%;
}

figure img:hover {
    transform: scale(1.2);
}
.column {
    flex:33.33%;
}
.row {
  display: flex;
}

.imgbtn {
 padding: 0.6rem 3rem;
 border-radius: 4px;
 font-weight: bold;
}

.imgbtn:hover {
    background-color:#a27d58;
}
.imgbtn:focus {
    background-color:#a27d58;
}

#cakearea {
    font-size: 1.5rem;
}

#cakearea input {
    background: transparent;
    width: 25%;
    border: none;
    border-bottom: 3px solid black;
}